<div class="row">
  <!--
  <div class="col-md-6">
    <a routerLink ="/" class ="btn btn-link">
      <i class ="fa fa-arrow-circle-o-left"></i> Zurück zu Dashboard
    </a>
  </div>
  -->
  <div class="col">
    <div class ="float-left">
      <a routerLink="/client/edit/{{id}}" class="btn btn-dark btn-sm">
      Bearbeiten
      </a>
    </div>
      <div class ="float-right">
      <button (click)="onDeleteClick()" class="btn btn-danger btn-sm">Löschen</button>
  
    </div>
    </div>
</div>
<hr>
<div *ngIf="client" class ="card">
  <h3 class="card-header"> <i class = "fa fa-users"></i> Kunde: 
    {{client.vorname }} {{client.nachname}}</h3>
  <div class ="card-body">
    <div class="row">
  
      <div class ="col-md-6 col-sm-6 mx-auto">
          <h3 class="pull-right">
            Guthaben: {{client.guthaben | currency:"EUR":"symbol"}}
          
            <small>
              <a (click)="showBalanceUpdateInput =!showBalanceUpdateInput">
                <i class="fa fa-pencil"></i>
              </a>
            </small>
          </h3>
          <div class="clearfix">
            <form *ngIf="showBalanceUpdateInput" (submit)="updateBalance(id)">
              <div class="input-group">
                <input type="text" name="balance" class="form-control"
                [(ngModel)] ="client.guthaben">
                <span class ="input-group-btn">
                  <button type ="submit" class="btn btn-primary">Update</button>
                </span>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
  <hr>
  <ul class="list-group">
    <li class="list-group-item">Kunde-ID: {{ client.id }}</li>
    <li class="list-group-item">Kontakt Email: {{ client.email }}</li>
    <li class="list-group-item">Kontakt Telefon: {{ client.telefon }}</li>
  </ul>
</div>